<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.hello">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- for mta statistics, not necessary-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <activity android:name=".wxapi.WXEntryActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:targetActivity="com.example.hello.wxapi.WXEntryActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sdksample" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
